APP_NAME=JobPilot API
ENV=dev
DEBUG=true
API_V1_PREFIX=/api

SECRET_KEY=change_me_to_a_long_random_string
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_MINUTES=10080
JWT_ALGORITHM=HS256

MYSQL_USER=jobpilot
MYSQL_PASSWORD=jobpilot
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DB=jobpilot

REDIS_URL=redis://127.0.0.1:6379/0

LOG_LEVEL=INFO
